* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #ffffff;
    transition: 0.4s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-link {
    font-size: 1.25em;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgba(5, 128, 0, 0.1);
}

.dropdown-menu {
    background-color: #ffffff;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

.active-cont {
    margin-left: 250px;
}

#menu-btn, .btn.btn-primary.green-btn {
    background-color: #256e18 !important;
    color: #fff !important;
}

.btn.btn-primary.green-btn{
    border: 2px solid #256e18 !important;
}

.btn.btn-primary.green-btn:hover{
    background-color: #fff !important;
    color: #256e18 !important;
}

#menu-btn:hover {
    box-shadow: 0 0 0 0.25rem #69ad62;
}



.btn.btn-primary {
    background-color: #ff9900 !important;
    border: solid 2px #ff9900 !important;
    border-radius: 5px !important;
    padding: 6px 40px !important;
    margin-right: 10px !important;
}

.btn-primary:hover {
    background-color: #fff !important;
    color: #ff9900;
}

a .action-edit, a .action-delete{
    font-size: 15px !important;
    text-align: center !important;
    padding: 5px !important;
}

.btn-outline-primary:hover{
    color: white !important;
    background-color: #d92304 !important;
}

#status-good{
    accent-color: #256e18 !important;
}

#status-bad{
    accent-color: #d92304 !important;
}

.action-btn{
    background: none !important;
    border: transparent !important;
}

a .action-edit{
    color: #30811f !important;
}

.action-delete{
    color: #b61d04 !important;
}

a .action-edit:hover {
    color: #7bc56f !important;
}

a .action-delete:hover {
    color: #b96457 !important;
}

.about-icon{
    color: #256E18FF !important;
    margin-right: 12px !important;
    font-weight: bold;
}

.table-dark{
    --bs-table-bg: rgba(133, 232, 133, 0.5) !important;
    color: #000 !important;
}

.shadow-2-strong{
    border: transparent !important;
    border-radius: .6rem !important;
    box-shadow: 0 0 5px lightgray !important;
}

.my-container.tb-ctn{
    background-color: white;
    padding: 50px !important;
    border: transparent !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px 2px #eaeaea !important;
    width: 100% !important;
}

.card.dash-card{
    margin-right: auto !important;
}

.card-link, .card.card-link{
    color: #256E18 !important;
}

.card-link:hover{
    color: #164d0c !important;
    text-decoration: none !important;
}